.bgBlue {
    background-color:#3A546D;
}

.bgDarkBlue {
    background-color: #2C3E50;
}

.bgBlueGreen {
    background-color: #1ABC9C;
}


.colorBlueGreen {
    color: #1ABC9C;
}

.square {
    height: 55px;
    width: 55px;
}
.square:hover {
    scale: 1.01;
}
.borderNone {
    border: none !important;
    transition: none !important;
}

.card:hover {
    scale: 1.01;
}


.paddingXY {
    padding: 2px 4px;
}